/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family= Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 &family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector the purpose is to override default style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic style */
    color: black;
    font-family: 'lato', sans-serif;
    background-color: grey;
}

.hidden-h2 {
    display: none;
}

/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 90%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Dropdown toggle */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 10%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* push footer down */
    flex: 1 0 auto;
    margin-top: 49px;
}

/* the reasons section */
#the-reasons {
    width: 96%;
    margin: 25px auto;
}

#the-reasons h2 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 130%;
    color: blue;
    
}

#the-reasons h4 {
    margin-bottom: 17px;
    text-align: left;
    font-size: 90%;
    color: black;
}

#the-reasons p {
    margin-bottom: 15px;
    text-align: center;
    font-size: 90%;
    color:black;
}

/* Voyage section */
#voyage {
    height: 510px;
    width: 100%;
    background: url("../images/plane2.jpg") no-repeat center center/cover;
}

/* Flight infos */
#flight-infos {
    width: 100%;
    background: url('../images/Paris-Tower.jpg') no-repeat center center/cover;
    /* Handles responsivity*/
    display: flex;
    flex-wrap: wrap;
}

#flight-infos div {
    color: white;
    background-color: black;
    padding: 17px;
    text-align: center;
    flex-basis: 195px;
    flex-grow: 1;
    border: 3px solid white;
    margin: auto;
}
   
#flight-infos h2{
    /* adding heading color */
    color: black;
}

#flight-infos h3{
    /* adding heading color */
    color: white;
}

/* my gallery */
#mydestination img {
    width:100%;
    line-height: 1em;
}

#my-destination {
    line-height: 0;
}

/* contact-us */
#contact-us {
    padding: 10px 18px;
    margin: 8px;
    display: inline-block;
    border: 3px solid yellow;
    box-sizing: border-box;
    font-size: 120%;
    text-transform: capitalize;
    justify-content: space-evenly;
    color: black;
}
.text-input {
    width: 50%;
    height: 20px;
    margin: 2px 0 18px 0;
    border-radius: 2px;
    padding: 0 5px;

}

.submit-button {
    width: 40%;
    padding: 10px;
    font-size: 110%;
    color:blue
}

/* Footer */
#social-medias {
    text-align: center;
    padding: 32px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: white;
}

#social-medias i {
    font-size: 165%;
    padding: 8%;
}

/* Media query for large and landscape mobile phone (from 576px and up) */
@media screen and (min-width: 576px) {
    #mydestination {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query for tablets and larger (from 768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 140%;
        line-height: 79px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push the main content down */
        margin-top: 78px;
    }

    /* my destination */
    #mydestination {
        column-count: 3;
    }

    /* Large devices (laptops,desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }
        /* my gallery */
        #mydestination {
            column-count: 4;
        }
    }
} 
