/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family= Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 &family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector the purpose is to override default style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic style */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
    
}

/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Dropdown toggle */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 10%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* push footer down */
    flex: 1 0 auto;
    margin-top: 49px;
}

/* the reasons section */
#the-reasons {
    width: 94%;
    margin: 25px auto;
}

#the-reasons h2 {
    margin-bottom: 22px;
    text-align: center;
    font-size: 240%;
    color: black;
}

#the-reasons p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 180%;
    color:black;
}
/* Voyage section */
#voyage {
    height: 590px;
    width: 100%;
    background: url("../images/plane2.jpg") no-repeat center center/cover;
}

/* Flight Destinations */
#flight-infos {
    width: 100%;
    background: url('../images/Paris-Tower.jpg') no-repeat center center/cover;
    /* Handles responsivity without the need for a media query */
    display: flex;
    flex-wrap: wrap;
}

#flight-infos div {
    color: white;
    background-color: #252525(0, 0, 0, .7);
    padding: 20px;
    text-align: center;
    margin: auto;
}
   
#flight-infos h2{
    /* adding heading color */
    color: black;
}

#flight-infos h3{
    /* adding heading color */
    color: black;
}

/* Footer */
#social-medias {
    text-align: center;
    padding: 32px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-medias i {
    font-size: 165%;
    padding: 9%;
    color: #3a3a3a;
}
/* Media query for tablets and larger (from 768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 210%;
        line-height: 79px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push the main content down */
        margin-top: 80px;
    }


    /* Large devices (laptops,desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }
    }
} 
